*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	scroll-behavior: smooth;
}

nav{
	height: 30px;
	width: 100vw;
	border-bottom: 20px;
	background-color: salmon;
	opacity: 0.5;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	z-index: 100;
}

nav > div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a{
	text-decoration: none;
}

nav > div > ul {
	display: flex;
	list-style-type: none;
	width: 50%;
}

nav > div > ul > li{
	margin: 0 30px;
}

nav > div > ul > li > a:link, a:visited, active{
	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
}

nav > div > ul > li > a:hover{
	border: 3px solid whitesmoke;
	color: whitesmoke;
}

.section-home{
	height: 100vh;
	background: url(../images/dg.jpeg);
	background-position:center;
	background-size: cover;
	display: block;
	justify-content:center;
	align-items: center;
}

.section-home > h1{
	text-align: center;
	font-size: 70px;
	padding-top: 20px;
	position: relative;
	top: 100px;
}

.section-home > h3{
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
	position: relative;
	top: 110px;
}

.section-home > p{
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	position: relative;
	top: 120px;
}

.section-home > button{
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	position: relative;
	top: 130px;
	left: 650px;
	width: 70px;
	border: none;
	border-style: none;
	border-radius: 10px;
}

.section-about{
	height: 100vh;
	background: url(../images/yellowdesign.jpeg);
	background-position:center;
	background-size: cover;
	display: block;
	justify-content:center;
	align-items: center;
}

.section-about > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-about > div > div{
	padding: 20px 30px;
	width: 50%;
	height: 500px;
}
/*Left Side*/

.section-about > div > div > h1{
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 100px;
}

.section-about > div > div > p{
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 100px;
}

.section-about > div > div > div > img{
	height: 50px;
	width: 50px;
	margin: 10px 10px;
	position: relative;
	top: 150px;
}

/*Right Side*/

.section-about > div > div > img{
	height: 50vh;
	width: 50%;
	position: relative;
	border-radius: 50%;
	top: 80px;
	left: 200px;

}

.section-about > div > div > div{
	display: flex;
	justify-content: center;
	align-items: center;
}


/*Start of Capstones*/

.capstones{
	display: flex;
	justify-content: center;
	align-items: center;
}

.capstones > img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.capstones > a> img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

/*Header of Section Portfolio*/

.s-portfolio > div > h1{
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 100px;
}

.s-portfolio{
	background-color: red;
	opacity: 0.2;
	background-position:center;
	background-size: cover;
	height: 100vh;
}

.section-contact{
	height: 100vh;
	background: url(../images/contactphoto.jpeg);
	background-position:center;
	background-size: cover;
	display: block;
	justify-content:center;
	align-items: center;
}

/*Form*/
<style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
</style>

/*Media Queries*/
/*Desktop View*/
@media only screen and (min-width: 961px) and (max-width: 1000px){
	.box1{
		background-color: pink;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.box1{
		background-color: yellow;
	}
}

/*mobile*/
/*tablet*/
@media only screen and (max-width: 400px){
	.box1{
		background-color: red;
	}
}