*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	scroll-behavior: smooth;
}

.landing{
	background: url(../images/landingpage.jpeg);
	background-position:center;
	background-size: cover;
	height: 100vh;
}

.header-text{
	display: block;
	width: 20%;
	margin: auto;
	position: relative;
	top: 200px;
	color: salmon;
}
.btn {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 50px;
	font-size: 50px;
	color: salmon;
}

/*Media Queries*/
/*Desktop View*/
@media only screen and (min-width: 961px) and (max-width: 1000px){
	.box1{
		background-color: pink;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.box1{
		background-color: yellow;
	}
}

/*mobile*/
/*tablet*/
@media only screen and (max-width: 400px){
	.box1{
		background-color: red;
	}
}